<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098846316534-20cnjnp4nnrbtuh9msssjre506vor1am.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098846316534-20cnjnp4nnrbtuh9msssjre506vor1am</string>
	<key>API_KEY</key>
	<string>AIzaSyCujMSKAc8BlBNsDbwJJpaQ3p_VkPbFvZo</string>
	<key>GCM_SENDER_ID</key>
	<string>1098846316534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sleeptracker</string>
	<key>PROJECT_ID</key>
	<string>sleeptracker-5d2eb</string>
	<key>STORAGE_BUCKET</key>
	<string>sleeptracker-5d2eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098846316534:ios:1092a42cd0a1c23f</string>
	<key>DATABASE_URL</key>
	<string>https://sleeptracker-5d2eb.firebaseio.com</string>
</dict>
</plist>