<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025346331680-81l66pmg9tn48gjhj5v74qa23at21h6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025346331680-81l66pmg9tn48gjhj5v74qa23at21h6j</string>
	<key>API_KEY</key>
	<string>AIzaSyBj83QOPvZ7ufg3BuebomWNPqSvJp4XEZA</string>
	<key>GCM_SENDER_ID</key>
	<string>1025346331680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sleeptracker</string>
	<key>PROJECT_ID</key>
	<string>sleeptracker-7da12</string>
	<key>STORAGE_BUCKET</key>
	<string>sleeptracker-7da12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025346331680:ios:1092a42cd0a1c23f</string>
	<key>DATABASE_URL</key>
	<string>https://sleeptracker-7da12.firebaseio.com</string>
</dict>
</plist>